@charset "utf-8";
/* CSS Document */


@font-face
{
	font-family: futuramore;
	src: url("../fonts/Futura Round Demi Oblique.ttf")
}

@font-face
{
	font-family: futuraregular;
	src:url("../fonts/Futura Round.ttf")
}

@font-face
{
	font-family: futurademi;
	src:url("../fonts/Futura Round Demi.ttf")
}

@font-face
{
	font-family: futuramedium;
	src:url("../fonts/Futura Round Medium.ttf")
}

@font-face
{
	font-family: futuralight;
	src:url("../fonts/Futura Round Light.ttf")
}

@font-face
{
	font-family: futurabold;
	src:url("../fonts/Futura Round Bold.ttf")
}


.background
{
	
	height: 1600px;
	background-color:black;
}


.outer
{
	
	height: auto;
	background-color: black;
	margin: auto;
}

.logo
{
	
	height: 143px;
	background-color: none;
}


.coverrow
{
	height: 85px;
	background-color:#000000;
	padding-top: 30px;
	padding-left:  60px;
	color: white;
	font-family: futurabold	;
}

.left
{
	height: 500px;
	background-color:#000000;
	
	text-align: center;
}

.right
{
	height: 500px;
	background-color:#000000;
}


.right1
{
	height: 70px;
	background-color:#000000;
	padding-top: 20px;
	padding-left: 92px;
}


.right2
{
	height: 70px;
	background-color:#000000;
	padding-top: 50px;
	padding-left: 92px;
}


.right3
{
	height: 70px;
	background-color:#000000;
	padding-top: 30px;
	padding-left: 92px;
}

.right4
{
	height: 40px;
	background-color:#000000;
	padding-top: 0px;
	padding-left: 92px;
}


.right4
{
	height: 40px;
	background-color:#000000;
	padding-top: 0px;
	padding-left: 92px;
}

.right5
{
	height: 70px;
	background-color:#000000;
	
}


.right52
{
	
	height: 70px;
	background-color:#000000;
	float: left;
	padding-top: 20px;
	padding-left: 90px
	
	
}

.right53
{
	
	height: 70px;
	background-color:#000000;
	float: left;
	padding-top: 17px;
	padding-left: 25px
}

.gachngang1
{
	
	height: 15px;
	
	
	
	

}
.gachngang2
{
	
	height: auto;
	background-color:none;
	padding-top: 32px;
	border-bottom: #C9C9C9 solid 1px;
	
}



.right6
{
	height: 70px;
	background-color:#000000;
	
}


.right61
{
	height: 70px;
	background-color:#000000;
	padding-top: 25px;
	padding-left: 92px;
	float: left;
	
	
}


.right62
{
	height: 70px;
	background-color:#000000;
	padding-top: 20px;
	padding-left: 230px;
	
	
}


.right7
{
	height: 70px;
	background-color:#000000;
}




.details
{
	height: 70px;
	background-color:#000000;
	padding-top: 25px;
	padding-left: 95px;
	float: left;
}


.addto
{
	height: 70px;
	background-color:#000000;
	padding-top: 25px;
	padding-left: 230px;
	
	
}

.addto ul
{
	list-style: none;
}

.addto ul li
{
	padding: 0px 0px 0px 0px;
}

.addto ul li a
{
	color: white;
	text-decoration: none;
	font-family: futuramedium;
	font-size: 25px;
}

.addto ul li a:hover
{
	color: #C9C9C9;
	text-decoration: underline;
}
.sale
{
	height: 360px;
	background-color:#000000;
	color: #C9C9C9;
}



.product1
{
	height: 360px;
	background-color:#000000;
	;
	
}

.paddingtext1
{
	height: 10px;
	background-color:#000000;
	
}

.product2
{
	height: 360px;
	background-color:#000000;
}

.paddingtext2
{
	height: 10px;
	background-color:#000000;
	
}


.product3
{
	height: 360px;
	background-color:#000000;
}


.paddingtext3
{
	height: 10px;
	background-color:#000000;
	
}

.product4
{
	height: 360px;
	background-color:#000000;
}

.paddingtext4
{
	height: 10px;
	background-color:#000000;
}

.aboutinfo
{
	height: auto;
	background-color: none;
	font-family: futuraregular;
	color: white;
	font-size: 15px;
	letter-spacing:1px;
	margin: 40px 40px 0px 50px;
}

.footer
{
	height: 195.76px;
	background-color: none;
}
.info
{
	
	height: 150px;
	background-color: none;
	font-family: futurademi;
	margin: 20px 0px 0px 0px;
	text-align: center;
}
.info ul
{
	list-style: none;
}
.info ul li
{
	margin: 15px 0px 0px 0px; 
}
.info ul li a
{
	text-decoration: none;
	color:#C9C9C9;
	font-family: futuraregular;
}
.info ul li a:hover
{
	text-decoration:overline;
	color: white;
}
.product
{
	
	height: 150px;
	background-color:none;
	text-align: center;
	font-family: futurademi;
	margin: 20px 0px 0px 0px;
}
.product ul
{
	list-style: none;
}
.product ul li
{
	margin: 15px 0px 0px 0px;
}
.product ul li a
{
	text-decoration: none;
	font-family: futuraregular;
	color:#C9C9C9 ;
	font-size: 20px;
	
}
.product ul li a:hover
{
	text-decoration:overline;
	color: white;
}
.contact
{
	
	height: 150px;
	background-color: none;
	text-align: center;
	font-family: futurademi;
	margin: 20px 0px 0px 0px;
}
.contacticon
{
	
	display: flex ;
    justify-content: center;
	margin: 15px 0px 0px 0px;
	
}
.contacticon ul 
{
	list-style: none;
	
}
.contacticon ul li
{
	float: right;
	padding: 0px 20px 20px 20px;
	
	
}
.contacticon ul li a
{
	text-decoration: none;
}

.end
{
	
	height: 30px;
	background-color: none;
	margin: 50px 0px 0px 0px;
	font-family: futuralight;
	font-size: 15px;
}














































